In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("cleaned_NFL_combine_2000_to_2024.csv")
df.head()

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,2000,darnell alford,Boston College,OT,76.0,334.0,5.58,23.0,25.0,94.0,4.98,NaN,1
1,2000,kyle allamon,Texas Tech,TE,74.5,253.0,5.01,NaN,29.0,104.0,4.49,NaN,N
2,2000,rashard anderson,Jackson State (MS),CB,74.4,206.0,4.59,NaN,34.0,123.0,4.15,NaN,1
3,2000,corey atkins,South Carolina,OLB,72.4,237.0,4.76,21.0,31.0,112.0,4.39,NaN,N
4,2000,reggie austin,Wake Forest,CB,69.4,175.0,4.46,17.0,35.0,119.0,4.14,NaN,1

In [3]:
df.describe()

,year,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone
count,6977.000000,6977.000000,6977.000000,6571.000000,4981.000000,5990.000000,5888.000000,4756.000000,77.000000
mean,2011.793464,73.907920,244.222159,4.781736,20.853845,32.941836,114.579654,4.398911,7.296364
std,6.939815,2.634607,45.706272,0.308882,6.334320,4.233216,9.426863,0.268891,0.400739
min,2000.000000,65.000000,149.000000,4.210000,2.000000,17.500000,73.000000,3.730000,6.620000
25%,2006.000000,72.000000,206.000000,4.540000,16.000000,30.000000,109.000000,4.200000,7.000000
50%,2012.000000,74.100000,234.000000,4.690000,21.000000,33.000000,116.000000,4.360000,7.210000
75%,2017.000000,75.880000,285.000000,4.990000,25.000000,36.000000,121.000000,4.560000,7.590000
max,2024.000000,81.630000,384.000000,6.070000,49.000000,46.000000,147.000000,5.560000,8.260000

In [4]:
#find all correlations
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

ValueError: could not convert string to float: 'darnell alford'

In [5]:
df.columns

Index(['year', 'name', 'college', 'position', 'height_in', 'weight_lbs',
       '40yards', 'benchpress', 'vert_leap_in', 'broad_jump_in', 'shuttle',
       '3cone', 'drafted'],
      dtype='object')

In [6]:
df_numeric = df.select_dtypes(include='number')
corr_matrix = df_numeric.corr()

In [8]:
corr_matrix.style.background_gradient(cmap='coolwarm')

In [9]:
# + 3cone & shuttle +0.893289
# + weight_lbs & 40yards +0.860706
# - broad_jump & 40 yards -0.823387

In [10]:
df[df["40yards"].isnull()].head()

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
1718,2006,marcus hudson,North Carolina State,FS,73.13,194.0,NaN,11.0,NaN,NaN,NaN,NaN,1
1739,2006,winston justice,Southern California,OT,78.13,319.0,NaN,NaN,35.0,110.0,4.53,NaN,1
1769,2006,tim massaquoi,Michigan,TE,74.63,259.0,NaN,32.0,NaN,NaN,NaN,NaN,1
1811,2006,donald penn,Utah State,OT,76.25,317.0,NaN,21.0,NaN,NaN,NaN,NaN,N
1855,2006,adam stenavich,Michigan,OG,76.00,310.0,NaN,24.0,NaN,NaN,NaN,NaN,N

In [11]:
df.groupby(["position", "drafted"])["40yards"].describe()

                  count      mean       std   min     25%    50%     75%   max
position drafted
C        1        123.0  5.223171  0.148784  4.89  5.1400  5.230  5.3250  5.58
         N         64.0  5.264687  0.187566  4.82  5.1450  5.260  5.3900  5.84
CB       1        517.0  4.478337  0.082980  4.23  4.4200  4.480  4.5300  4.76
         N        194.0  4.563608  0.101043  4.33  4.4900  4.570  4.6300  4.95
DB       1          3.0  4.466667  0.080829  4.38  4.4300  4.480  4.5100  4.54
DE       1        378.0  4.792831  0.136357  4.48  4.6925  4.790  4.8800  5.26
         N        139.0  4.915468  0.136468  4.63  4.8200  4.920  5.0000  5.27
DL       1          3.0  4.756667  0.040415  4.72  4.7350  4.750  4.7750  4.80
         N          1.0  4.880000       NaN  4.88  4.8800  4.880  4.8800  4.88
DT       1        358.0  5.078296  0.160614  4.67  4.9725  5.075  5.1800  5.71
         N        146.0  5.157123  0.158949  4.81  5.0400  5.150  5.2775  5.62
EDG      1         14.0  4.652857  0.132690  4.41  4.5975  4.640  4.6900  4.92
         N          5.0  4.728000  0.089554  4.60  4.6900  4.730  4.7900  4.83
FB       1         64.0  4.751563  0.132476  4.48  4.6500  4.740  4.8400  5.03
         N         48.0  4.821458  0.150092  4.60  4.7075  4.775  4.9350  5.37
FS       1        172.0  4.536686  0.090315  4.31  4.4800  4.540  4.6000  4.83
         N         88.0  4.626932  0.104698  4.36  4.5700  4.620  4.6900  4.95
ILB      1        178.0  4.705562  0.128371  4.39  4.6100  4.700  4.7975  5.14
         N         82.0  4.832195  0.120831  4.53  4.7500  4.835  4.9100  5.19
K        1          5.0  4.796000  0.124218  4.63  4.7400  4.790  4.8600  4.96
         N          8.0  4.953750  0.196246  4.61  4.8825  4.980  5.0850  5.17
LB       1         41.0  4.603902  0.111105  4.39  4.5100  4.630  4.6700  4.82
         N         20.0  4.776500  0.142581  4.43  4.6850  4.815  4.8800  4.98
LS       1          6.0  5.031667  0.094956  4.91  4.9850  5.020  5.0625  5.19
         N          9.0  5.050000  0.158035  4.76  5.0000  5.050  5.1400  5.30
NT       N          0.0       NaN       NaN   NaN     NaN    NaN     NaN   NaN
OG       1        271.0  5.248524  0.159467  4.89  5.1400  5.240  5.3400  5.66
         N        165.0  5.378061  0.202141  4.95  5.2500  5.370  5.5000  6.07
OL       1          2.0  5.190000  0.042426  5.16  5.1750  5.190  5.2050  5.22
         N          1.0  5.020000       NaN  5.02  5.0200  5.020  5.0200  5.02
OLB      1        316.0  4.650949  0.117375  4.36  4.5775  4.650  4.7200  5.09
         N        121.0  4.740661  0.123408  4.47  4.6500  4.740  4.8000  5.03
OT       1        370.0  5.219027  0.184616  4.66  5.0900  5.220  5.3400  6.03
         N        134.0  5.311567  0.206423  4.65  5.2100  5.310  5.4350  5.94
P        1          8.0  4.821250  0.174637  4.63  4.7000  4.830  4.8650  5.18
         N         17.0  4.907647  0.150604  4.69  4.7500  4.920  5.0600  5.12
QB       1        220.0  4.810364  0.176037  4.33  4.6875  4.820  4.9300  5.37
         N        151.0  4.861126  0.170292  4.50  4.7400  4.840  4.9750  5.37
RB       1        356.0  4.524916  0.099019  4.27  4.4600  4.520  4.5900  4.84
         N        239.0  4.610544  0.113571  4.34  4.5300  4.610  4.6800  4.98
S        1         26.0  4.511538  0.089920  4.36  4.4500  4.485  4.5875  4.69
         N         15.0  4.631333  0.150517  4.29  4.5750  4.630  4.7400  4.83
SS       1        148.0  4.542500  0.079110  4.34  4.4900  4.550  4.6000  4.74
         N         77.0  4.632727  0.114830  4.36  4.5600  4.630  4.6900  4.95
TE       1        243.0  4.734198  0.133468  4.38  4.6500  4.740  4.8250  5.09
         N        121.0  4.845785  0.133702  4.46  4.7600  4.840  4.9500  5.15
WR       1        582.0  4.486100  0.097603  4.21  4.4200  4.480  4.5500  4.76
         N        322.0  4.569441  0.094221  4.31  4.5100  4.570  4.6275  4.85