In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_NFL_combine_2000_to_2024.csv")
df.head()

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,2000,darnell alford,Boston College,OT,76.0,334.0,5.58,23.0,25.0,94.0,4.98,NaN,1
1,2000,kyle allamon,Texas Tech,TE,74.5,253.0,5.01,NaN,29.0,104.0,4.49,NaN,N
2,2000,rashard anderson,Jackson State (MS),CB,74.4,206.0,4.59,NaN,34.0,123.0,4.15,NaN,1
3,2000,corey atkins,South Carolina,OLB,72.4,237.0,4.76,21.0,31.0,112.0,4.39,NaN,N
4,2000,reggie austin,Wake Forest,CB,69.4,175.0,4.46,17.0,35.0,119.0,4.14,NaN,1

In [3]:
df.groupby(["position", "drafted"])["40yards"].describe()
# Significance K 4.74-4.96 Y N 4.93-5.17

                  count      mean       std   min     25%    50%     75%   max
position drafted
C        1        123.0  5.223171  0.148784  4.89  5.1400  5.230  5.3250  5.58
         N         64.0  5.264687  0.187566  4.82  5.1450  5.260  5.3900  5.84
CB       1        517.0  4.478337  0.082980  4.23  4.4200  4.480  4.5300  4.76
         N        194.0  4.563608  0.101043  4.33  4.4900  4.570  4.6300  4.95
DB       1          3.0  4.466667  0.080829  4.38  4.4300  4.480  4.5100  4.54
DE       1        378.0  4.792831  0.136357  4.48  4.6925  4.790  4.8800  5.26
         N        139.0  4.915468  0.136468  4.63  4.8200  4.920  5.0000  5.27
DL       1          3.0  4.756667  0.040415  4.72  4.7350  4.750  4.7750  4.80
         N          1.0  4.880000       NaN  4.88  4.8800  4.880  4.8800  4.88
DT       1        358.0  5.078296  0.160614  4.67  4.9725  5.075  5.1800  5.71
         N        146.0  5.157123  0.158949  4.81  5.0400  5.150  5.2775  5.62
EDG      1         14.0  4.652857  0.132690  4.41  4.5975  4.640  4.6900  4.92
         N          5.0  4.728000  0.089554  4.60  4.6900  4.730  4.7900  4.83
FB       1         64.0  4.751563  0.132476  4.48  4.6500  4.740  4.8400  5.03
         N         48.0  4.821458  0.150092  4.60  4.7075  4.775  4.9350  5.37
FS       1        172.0  4.536686  0.090315  4.31  4.4800  4.540  4.6000  4.83
         N         88.0  4.626932  0.104698  4.36  4.5700  4.620  4.6900  4.95
ILB      1        178.0  4.705562  0.128371  4.39  4.6100  4.700  4.7975  5.14
         N         82.0  4.832195  0.120831  4.53  4.7500  4.835  4.9100  5.19
K        1          5.0  4.796000  0.124218  4.63  4.7400  4.790  4.8600  4.96
         N          8.0  4.953750  0.196246  4.61  4.8825  4.980  5.0850  5.17
LB       1         41.0  4.603902  0.111105  4.39  4.5100  4.630  4.6700  4.82
         N         20.0  4.776500  0.142581  4.43  4.6850  4.815  4.8800  4.98
LS       1          6.0  5.031667  0.094956  4.91  4.9850  5.020  5.0625  5.19
         N          9.0  5.050000  0.158035  4.76  5.0000  5.050  5.1400  5.30
NT       N          0.0       NaN       NaN   NaN     NaN    NaN     NaN   NaN
OG       1        271.0  5.248524  0.159467  4.89  5.1400  5.240  5.3400  5.66
         N        165.0  5.378061  0.202141  4.95  5.2500  5.370  5.5000  6.07
OL       1          2.0  5.190000  0.042426  5.16  5.1750  5.190  5.2050  5.22
         N          1.0  5.020000       NaN  5.02  5.0200  5.020  5.0200  5.02
OLB      1        316.0  4.650949  0.117375  4.36  4.5775  4.650  4.7200  5.09
         N        121.0  4.740661  0.123408  4.47  4.6500  4.740  4.8000  5.03
OT       1        370.0  5.219027  0.184616  4.66  5.0900  5.220  5.3400  6.03
         N        134.0  5.311567  0.206423  4.65  5.2100  5.310  5.4350  5.94
P        1          8.0  4.821250  0.174637  4.63  4.7000  4.830  4.8650  5.18
         N         17.0  4.907647  0.150604  4.69  4.7500  4.920  5.0600  5.12
QB       1        220.0  4.810364  0.176037  4.33  4.6875  4.820  4.9300  5.37
         N        151.0  4.861126  0.170292  4.50  4.7400  4.840  4.9750  5.37
RB       1        356.0  4.524916  0.099019  4.27  4.4600  4.520  4.5900  4.84
         N        239.0  4.610544  0.113571  4.34  4.5300  4.610  4.6800  4.98
S        1         26.0  4.511538  0.089920  4.36  4.4500  4.485  4.5875  4.69
         N         15.0  4.631333  0.150517  4.29  4.5750  4.630  4.7400  4.83
SS       1        148.0  4.542500  0.079110  4.34  4.4900  4.550  4.6000  4.74
         N         77.0  4.632727  0.114830  4.36  4.5600  4.630  4.6900  4.95
TE       1        243.0  4.734198  0.133468  4.38  4.6500  4.740  4.8250  5.09
         N        121.0  4.845785  0.133702  4.46  4.7600  4.840  4.9500  5.15
WR       1        582.0  4.486100  0.097603  4.21  4.4200  4.480  4.5500  4.76
         N        322.0  4.569441  0.094221  4.31  4.5100  4.570  4.6275  4.85

In [4]:
df.groupby(["position", "drafted"])["benchpress"].describe()
# OL 26 - 34 Y N 22 - 23

                  count       mean       std   min    25%   50%    75%   max
position drafted
C        1        113.0  26.469027  5.044571  13.0  23.00  27.0  29.00  41.0
         N         61.0  25.524590  5.101002  11.0  23.00  25.0  28.00  36.0
CB       1        403.0  14.940447  4.103927   2.0  12.00  15.0  17.00  32.0
         N        160.0  13.418750  3.722229   5.0  11.00  14.0  16.00  24.0
DB       1          3.0  16.000000  1.000000  15.0  15.50  16.0  16.50  17.0
DE       1        319.0  24.153605  4.792379  12.0  21.00  24.0  27.00  38.0
         N        129.0  22.534884  4.551865  11.0  20.00  22.0  25.00  45.0
DL       1          2.0  25.500000  0.707107  25.0  25.25  25.5  25.75  26.0
         N          0.0        NaN       NaN   NaN    NaN   NaN    NaN   NaN
DT       1        302.0  27.668874  5.340526  15.0  24.00  27.0  31.00  49.0
         N        126.0  26.587302  5.036300  17.0  23.00  27.0  30.00  44.0
EDG      1         12.0  22.083333  3.423404  16.0  19.75  22.5  24.25  28.0
         N          4.0  25.000000  4.898979  19.0  23.50  25.0  26.50  31.0
FB       1         53.0  23.509434  4.971545  14.0  21.00  23.0  26.00  37.0
         N         45.0  21.355556  5.721393   7.0  17.00  22.0  24.00  35.0
FS       1        153.0  16.326797  4.021047   7.0  14.00  16.0  19.00  28.0
         N         71.0  15.830986  4.053168   5.0  14.00  16.0  19.00  24.0
ILB      1        151.0  22.827815  4.064089  11.0  20.00  23.0  25.00  35.0
         N         71.0  21.549296  4.895446   8.0  18.00  20.0  24.00  36.0
K        1          2.0  19.000000  8.485281  13.0  16.00  19.0  22.00  25.0
         N          2.0  13.000000  1.414214  12.0  12.50  13.0  13.50  14.0
LB       1         40.0  20.525000  3.928773  14.0  18.00  21.0  23.00  30.0
         N         24.0  17.916667  4.020779  11.0  15.75  17.5  20.00  26.0
LS       1          3.0  22.000000  7.549834  15.0  18.00  21.0  25.50  30.0
         N          6.0  16.666667  4.366539  11.0  14.50  16.5  17.75  24.0
NT       N          0.0        NaN       NaN   NaN    NaN   NaN    NaN   NaN
OG       1        228.0  26.574561  5.556967   9.0  23.00  26.0  30.00  45.0
         N        140.0  24.085714  4.770240  12.0  21.00  24.0  27.25  40.0
OL       1          4.0  29.250000  3.403430  26.0  27.50  28.5  30.25  34.0
         N          4.0  27.000000  8.041559  22.0  22.75  23.5  27.75  39.0
OLB      1        259.0  23.038610  4.736308  10.0  20.00  23.0  26.00  41.0
         N         98.0  20.928571  3.769793  12.0  18.00  21.0  24.00  31.0
OT       1        302.0  24.870861  4.674083  13.0  22.00  24.0  28.00  38.0
         N        116.0  23.603448  4.960504   9.0  20.00  23.0  27.00  36.0
P        1          4.0  16.500000  6.350853   8.0  14.00  17.5  20.00  23.0
         N          7.0  16.000000  6.403124   8.0  12.00  13.0  21.00  25.0
QB       1         10.0  21.400000  2.590581  16.0  20.25  22.0  22.75  25.0
         N         11.0  17.545455  4.058661  11.0  15.00  18.0  19.50  26.0
RB       1        293.0  19.860068  4.689416   5.0  17.00  20.0  23.00  32.0
         N        201.0  18.980100  4.325460   8.0  15.00  19.0  22.00  34.0
S        1         23.0  17.695652  3.598419  11.0  15.50  18.0  20.00  24.0
         N         15.0  15.333333  3.677473   9.0  12.00  16.0  18.00  21.0
SS       1        129.0  17.976744  4.530220   7.0  15.00  17.0  21.00  31.0
         N         66.0  17.393939  4.124519  11.0  15.00  17.0  20.00  28.0
TE       1        213.0  20.957746  4.349485   3.0  18.00  21.0  24.00  35.0
         N        106.0  18.839623  4.186456   7.0  17.00  18.0  21.00  35.0
WR       1        296.0  15.405405  4.559717   4.0  12.00  15.0  18.00  38.0
         N        201.0  14.034826  4.251327   4.0  11.00  14.0  17.00  35.0

In [5]:
df.groupby(["position", "drafted"])["name"].describe()

                 count unique                 top freq
position drafted
C        1         133    133        brad meester    1
         N          71     71          matt oneal    1
CB       1         531    528        kevin thomas    2
         N         211    209     todd washington    2
DB       1           3      3         brian allen    1
DE       1         401    401     michael boireau    1
         N         150    150       lamont bryant    1
DL       1           3      3     alex mccalister    1
         N           1      1          ken ekanem    1
DT       1         379    376         byron young    2
         N         150    150      robert brannon    1
EDG      1          16     16          josh allen    1
         N           5      5        malik carney    1
FB       1          64     64           deon dyer    1
         N          48     48     dandre hardeman    1
FS       1         182    182      rashidi barnes    1
         N          94     94        trent gamble    1
ILB      1         189    189         marcus bell    1
         N          91     91           dwan epps    1
K        1           6      6     taylor mehlhaff    1
         N           9      9       brett swenson    1
LB       1          52     51          david long    2
         N          25     25      riley bullough    1
LS       1           6      6       tyler schmitt    1
         N           9      9            tim bugg    1
NT       N           1      1          josh tupou    1
OG       1         285    285         brad bedell    1
         N         179    179    terrance beadles    1
OL       1           4      4  jermaine eluemunor    1
         N           4      4     collin buchanan    1
OLB      1         327    326         byron young    2
         N         130    130        corey atkins    1
OT       1         391    391      darnell alford    1
         N         147    146       chase johnson    2
P        1          10     10     thomas morstead    1
         N          19     19         tim masthay    1
QB       1         232    231          alex smith    2
         N         154    154        travis brown    1
RB       1         378    377     adrian peterson    2
         N         258    257        derrick ross    2
S        1          31     31     johnathan abram    1
         N          16     16         john battle    1
SS       1         159    159          matt bowen    1
         N          84     84       ashley cooper    1
TE       1         258    257          alex smith    2
         N         134    134        kyle allamon    1
WR       1         603    599       mike williams    3
         N         344    344         kwame cavil    1

In [6]:
df = df.drop_duplicates()

In [7]:
len(df)

6971