In [23]:
import numpy as np
import pandas as pd

import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [17]:
df = pd.read_csv("cleaned_NFL_combine_2000_to_2024.csv")
df = df[(df["position"] != "NT") & (df["position"] != "K") & (df["position"] != "LS")]

In [18]:
df

,year,name,college,position,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,2000,darnell alford,Boston College,OT,76.00,334.0,5.58,23.0,25.0,94.0,4.98,NaN,1
1,2000,kyle allamon,Texas Tech,TE,74.50,253.0,5.01,NaN,29.0,104.0,4.49,NaN,N
2,2000,rashard anderson,Jackson State (MS),CB,74.40,206.0,4.59,NaN,34.0,123.0,4.15,NaN,1
3,2000,corey atkins,South Carolina,OLB,72.40,237.0,4.76,21.0,31.0,112.0,4.39,NaN,N
4,2000,reggie austin,Wake Forest,CB,69.40,175.0,4.46,17.0,35.0,119.0,4.14,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6972,2024,payton wilson,North Carolina State,OLB,75.88,233.0,4.43,NaN,34.5,119.0,NaN,NaN,1
6973,2024,roman wilson,Michigan,WR,70.75,185.0,4.39,12.0,NaN,NaN,NaN,NaN,1
6974,2024,mekhi wingo,Louisiana State,DT,72.25,284.0,4.85,25.0,31.5,109.0,NaN,NaN,1
6975,2024,xavier worthy,Texas,WR,71.25,165.0,4.21,NaN,41.0,131.0,NaN,NaN,1
6976,2024,jaylen wright,Tennessee,RB,70.50,210.0,4.38,NaN,38.0,134.0,NaN,NaN,1

In [19]:
#df = pd.read_csv("cleaned_NFL_combine_97_to_2018.csv")
df = df.drop(["year","name","college","position"],axis='columns')
df.head()

,height_in,weight_lbs,40yards,benchpress,vert_leap_in,broad_jump_in,shuttle,3cone,drafted
0,76.0,334.0,5.58,23.0,25.0,94.0,4.98,NaN,1
1,74.5,253.0,5.01,NaN,29.0,104.0,4.49,NaN,N
2,74.4,206.0,4.59,NaN,34.0,123.0,4.15,NaN,1
3,72.4,237.0,4.76,21.0,31.0,112.0,4.39,NaN,N
4,69.4,175.0,4.46,17.0,35.0,119.0,4.14,NaN,1

In [20]:
Y = df["drafted"]
Y = Y.replace("N",0)

X = df.drop(["drafted"], axis='columns')

0       1
1       0
2       1
3       0
4       1
       ..
6972    1
6973    1
6974    1
6975    1
6976    1
Name: drafted, Length: 6946, dtype: object

In [21]:
# split data into train and test sets
seed = 777
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [25]:
# fit model on training data
model = xgb.XGBRegressor(objective="binary:logistic", random_state=42)
model.fit(X_train, y_train)

ImportError: sklearn needs to be installed in order to use this module