In [1]:
import numpy as np
import pandas as pd

from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("CSVfiles/drafted_2000_to_2024_final_to_prepare_for_first_model.csv")
df

,Unnamed: 0,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7944,8467,Payton Wilson,LB,North Carolina State,76,233,4.43,34.5,NaN,119.0,NaN,NaN,1,2024
7945,8468,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12.0,NaN,NaN,NaN,1,2024
7946,8469,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25.0,109.0,NaN,NaN,1,2024
7947,8470,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131.0,NaN,NaN,1,2024
7948,8471,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134.0,NaN,NaN,1,2024

In [3]:
df = df.drop(["Year","Player","School","Pos", "Unnamed: 0"],axis="columns")
df.head()

   Ht   Wt  40yd  Vertical  Bench  Broad Jump  3Cone  Shuttle  isDrafted
0  76  252  4.55       NaN    NaN         NaN    NaN      NaN          1
1  72  218  4.58       NaN    NaN         NaN    NaN      NaN          1
2  76  334  5.56      25.0   23.0        94.0   8.48     4.98          1
3  74  253  4.97      29.0    NaN       104.0   7.29     4.49          0
4  74  206  4.55      34.0    NaN       123.0   7.18     4.15          1

In [4]:
Y = df["isDrafted"]
X = df.drop(["isDrafted"], axis="columns")

In [5]:
# split data into train and test sets
seed = 4902
test_size = 0.30
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [6]:
# fit model on training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=None,
              n_jobs=None, num_parallel_tree=None, ...)

In [7]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [8]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 68.64%

In [9]:
# fit model on training data
model = XGBClassifier(max_depth=3)
model.fit(X_train, y_train)

# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 69.52%

# Now we get the 2025 Prospects

In [10]:
from splinter import Browser
import os
import csv

import pandas as pd
import numpy as np

from selenium.webdriver.chrome.service import Service

service = Service(executable_path='chromedriver.exe')
browser = Browser('chrome', service=service)

In [11]:
browser.visit(f"https://www.pro-football-reference.com/draft/2025-combine.htm")

In [12]:
table = browser.find_by_css(".table_container")[0]
parsedtable = pd.read_html(table.html)[0]
parsedtable["Year"] = 2025

C:\Users\Asus\AppData\Local\Temp\ipykernel_9460\3328839202.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  parsedtable = pd.read_html(table.html)[0]

In [13]:
combinetable = parsedtable
combinetable

,Player,Pos,School,College,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,Drafted (tm/rnd/yr),Year
0,BJ Adams,CB,Central Florida,College Stats,6-2,182,4.53,32.5,NaN,117,NaN,NaN,NaN,2025
1,Tommy Akingbesote,DT,Maryland,College Stats,6-4,306,5.09,28.0,NaN,103,NaN,NaN,Dallas Cowboys / 7th / 247th pick / 2025,2025
2,Darius Alexander,DT,Toledo,College Stats,6-4,305,4.95,31.5,28,111,7.60,4.79,New York Giants / 3rd / 65th pick / 2025,2025
3,Zy Alexander,CB,LSU,College Stats,6-1,187,4.56,31.5,NaN,116,NaN,NaN,NaN,2025
4,LeQuint Allen,RB,Syracuse,College Stats,6-0,204,NaN,35.0,NaN,120,NaN,NaN,Jacksonville Jaguars / 7th / 236th pick / 2025,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Hunter Wohler,SAF,Wisconsin,College Stats,6-2,213,4.57,37.0,NaN,120,6.72,4.25,Indianapolis Colts / 7th / 232nd pick / 2025,2025
331,Ernest Woodard,LB,UNLV,College Stats,6-2,234,NaN,NaN,21,NaN,NaN,NaN,NaN,2025
332,Craig Woodson,SAF,California,College Stats,6-0,200,4.45,36.0,13,127,NaN,NaN,New England Patriots / 4th / 106th pick / 2025,2025
333,Marcus Yarns,RB,Delaware,NaN,5-11,193,4.45,37.5,NaN,122,NaN,NaN,NaN,2025
334,Grey Zabel,OT,North Dakota St.,NaN,6-6,312,NaN,36.5,NaN,111,NaN,NaN,NaN,2025

In [14]:
combinetable = combinetable.drop(["College"], axis='columns')

deleteallnarows = combinetable[(combinetable["Bench"].isna()) & \
(combinetable["40yd"].isna()) & \
(combinetable["Vertical"].isna()) & \
(combinetable["Broad Jump"].isna()) & \
(combinetable["3Cone"].isna()) & \
(combinetable["Shuttle"].isna())].index

combinetable.drop(deleteallnarows , inplace=True)

prospects_2025_df = combinetable.copy()

prospects_2025_df = prospects_2025_df.rename(columns={'Drafted (tm/rnd/yr)': 'isDrafted'})

# Replace values in 'col1' where 'col1' is less than 3
condition2 = prospects_2025_df['isDrafted'].isna()
prospects_2025_df.loc[condition2, 'isDrafted'] = 0

# Replace values in 'col2' based on a condition in 'col1'
condition3 = prospects_2025_df['isDrafted'] != 0
prospects_2025_df.loc[condition3, 'isDrafted'] = 1

In [15]:
prospects_2025_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,BJ Adams,CB,Central Florida,6-2,182,4.53,32.5,NaN,117,NaN,NaN,0,2025
1,Tommy Akingbesote,DT,Maryland,6-4,306,5.09,28.0,NaN,103,NaN,NaN,1,2025
2,Darius Alexander,DT,Toledo,6-4,305,4.95,31.5,28,111,7.60,4.79,1,2025
3,Zy Alexander,CB,LSU,6-1,187,4.56,31.5,NaN,116,NaN,NaN,0,2025
4,LeQuint Allen,RB,Syracuse,6-0,204,NaN,35.0,NaN,120,NaN,NaN,1,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Hunter Wohler,SAF,Wisconsin,6-2,213,4.57,37.0,NaN,120,6.72,4.25,1,2025
331,Ernest Woodard,LB,UNLV,6-2,234,NaN,NaN,21,NaN,NaN,NaN,0,2025
332,Craig Woodson,SAF,California,6-0,200,4.45,36.0,13,127,NaN,NaN,1,2025
333,Marcus Yarns,RB,Delaware,5-11,193,4.45,37.5,NaN,122,NaN,NaN,0,2025
334,Grey Zabel,OT,North Dakota St.,6-6,312,NaN,36.5,NaN,111,NaN,NaN,0,2025

In [16]:
#only rows where a prospect completed in at least one combine event
deleteHT = prospects_2025_df[prospects_2025_df["Ht"] == "Ht"].index
deleteHT

prospects_2025_df.drop(deleteHT , inplace=True)
prospects_2025_df.describe()

         Year
count   247.0
mean   2025.0
std       0.0
min    2025.0
25%    2025.0
50%    2025.0
75%    2025.0
max    2025.0

In [17]:
prospects_2025_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,BJ Adams,CB,Central Florida,6-2,182,4.53,32.5,NaN,117,NaN,NaN,0,2025
1,Tommy Akingbesote,DT,Maryland,6-4,306,5.09,28.0,NaN,103,NaN,NaN,1,2025
2,Darius Alexander,DT,Toledo,6-4,305,4.95,31.5,28,111,7.60,4.79,1,2025
3,Zy Alexander,CB,LSU,6-1,187,4.56,31.5,NaN,116,NaN,NaN,0,2025
4,LeQuint Allen,RB,Syracuse,6-0,204,NaN,35.0,NaN,120,NaN,NaN,1,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Hunter Wohler,SAF,Wisconsin,6-2,213,4.57,37.0,NaN,120,6.72,4.25,1,2025
331,Ernest Woodard,LB,UNLV,6-2,234,NaN,NaN,21,NaN,NaN,NaN,0,2025
332,Craig Woodson,SAF,California,6-0,200,4.45,36.0,13,127,NaN,NaN,1,2025
333,Marcus Yarns,RB,Delaware,5-11,193,4.45,37.5,NaN,122,NaN,NaN,0,2025
334,Grey Zabel,OT,North Dakota St.,6-6,312,NaN,36.5,NaN,111,NaN,NaN,0,2025

In [18]:
## we looked at Excel file and we will need to drop all of those players with no height.  They are all from 2021.
#only rows where a prospect completed in at least one combine event
deleteHT = prospects_2025_df[prospects_2025_df["Ht"].isna()].index
deleteHT

prospects_2025_df.drop(deleteHT , inplace=True)

In [19]:
prospects_2025_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,BJ Adams,CB,Central Florida,6-2,182,4.53,32.5,NaN,117,NaN,NaN,0,2025
1,Tommy Akingbesote,DT,Maryland,6-4,306,5.09,28.0,NaN,103,NaN,NaN,1,2025
2,Darius Alexander,DT,Toledo,6-4,305,4.95,31.5,28,111,7.60,4.79,1,2025
3,Zy Alexander,CB,LSU,6-1,187,4.56,31.5,NaN,116,NaN,NaN,0,2025
4,LeQuint Allen,RB,Syracuse,6-0,204,NaN,35.0,NaN,120,NaN,NaN,1,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Hunter Wohler,SAF,Wisconsin,6-2,213,4.57,37.0,NaN,120,6.72,4.25,1,2025
331,Ernest Woodard,LB,UNLV,6-2,234,NaN,NaN,21,NaN,NaN,NaN,0,2025
332,Craig Woodson,SAF,California,6-0,200,4.45,36.0,13,127,NaN,NaN,1,2025
333,Marcus Yarns,RB,Delaware,5-11,193,4.45,37.5,NaN,122,NaN,NaN,0,2025
334,Grey Zabel,OT,North Dakota St.,6-6,312,NaN,36.5,NaN,111,NaN,NaN,0,2025

In [20]:
count = 0

for index,row in prospects_2025_df.iterrows():
    if "-" in row["Ht"]:
        count = count + 1

count
#This is now verified

247

In [21]:
for index,row in prospects_2025_df.iterrows():
    if "-" in row["Ht"]:
        feet = int(row["Ht"].split("-")[0])
        inches = int(row["Ht"].split("-")[1])
        prospects_2025_df.loc[index,"Ht"] = feet * 12 + inches

In [22]:
prospects_2025_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,BJ Adams,CB,Central Florida,74,182,4.53,32.5,NaN,117,NaN,NaN,0,2025
1,Tommy Akingbesote,DT,Maryland,76,306,5.09,28.0,NaN,103,NaN,NaN,1,2025
2,Darius Alexander,DT,Toledo,76,305,4.95,31.5,28,111,7.60,4.79,1,2025
3,Zy Alexander,CB,LSU,73,187,4.56,31.5,NaN,116,NaN,NaN,0,2025
4,LeQuint Allen,RB,Syracuse,72,204,NaN,35.0,NaN,120,NaN,NaN,1,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Hunter Wohler,SAF,Wisconsin,74,213,4.57,37.0,NaN,120,6.72,4.25,1,2025
331,Ernest Woodard,LB,UNLV,74,234,NaN,NaN,21,NaN,NaN,NaN,0,2025
332,Craig Woodson,SAF,California,72,200,4.45,36.0,13,127,NaN,NaN,1,2025
333,Marcus Yarns,RB,Delaware,71,193,4.45,37.5,NaN,122,NaN,NaN,0,2025
334,Grey Zabel,OT,North Dakota St.,78,312,NaN,36.5,NaN,111,NaN,NaN,0,2025

In [23]:
prospects_2025_df["Pos"].value_counts()

Pos
WR      43
DT      31
CB      28
RB      28
EDGE    26
LB      19
TE      17
SAF     17
OT      16
G       13
C        5
QB       4
Name: count, dtype: int64

In [24]:
# Using to_numeric() method with downcasting
prospects_2025_df['Wt'] = pd.to_numeric(prospects_2025_df['Wt'], downcast='integer', errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['Ht'] = pd.to_numeric(prospects_2025_df['Ht'], downcast='integer', errors='coerce')

# Using to_numeric() method with downcastingM
prospects_2025_df['isDrafted'] = pd.to_numeric(prospects_2025_df['isDrafted'], downcast='integer', errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['40yd'] = pd.to_numeric(prospects_2025_df['40yd'], errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['Vertical'] = pd.to_numeric(prospects_2025_df['Vertical'], errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['Bench'] = pd.to_numeric(prospects_2025_df['Bench'], errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['Broad Jump'] = pd.to_numeric(prospects_2025_df['Broad Jump'], errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['3Cone'] = pd.to_numeric(prospects_2025_df['3Cone'], errors='coerce')

# Using to_numeric() method with downcasting
prospects_2025_df['Shuttle'] = pd.to_numeric(prospects_2025_df['Shuttle'], errors='coerce')

In [25]:
prospects_2025_df.groupby(["Pos", "isDrafted"])["Ht"].describe()

                count       mean       std   min    25%   50%    75%   max
Pos  isDrafted
C    0            3.0  76.000000  1.000000  75.0  75.50  76.0  76.50  77.0
     1            2.0  75.500000  0.707107  75.0  75.25  75.5  75.75  76.0
CB   0           11.0  72.454545  1.634848  69.0  71.50  73.0  73.00  75.0
     1           17.0  71.588235  1.583462  69.0  71.00  71.0  73.00  75.0
DT   0           12.0  75.250000  1.484771  73.0  74.75  75.0  76.00  78.0
     1           19.0  75.947368  1.715086  73.0  75.00  76.0  77.00  79.0
EDGE 0            7.0  75.714286  2.058663  73.0  74.50  76.0  77.00  78.0
     1           19.0  75.789474  1.084176  74.0  75.00  76.0  76.50  78.0
G    0            5.0  77.200000  1.095445  76.0  77.00  77.0  77.00  79.0
     1            8.0  77.250000  1.281740  75.0  76.75  77.5  78.00  79.0
LB   0            7.0  73.142857  1.345185  71.0  72.50  73.0  74.00  75.0
     1           12.0  73.666667  1.073087  72.0  73.00  74.0  74.25  75.0
OT   0            4.0  78.500000  0.577350  78.0  78.00  78.5  79.00  79.0
     1           12.0  78.000000  1.348400  76.0  77.00  78.0  79.00  80.0
QB   0            2.0  74.500000  0.707107  74.0  74.25  74.5  74.75  75.0
     1            2.0  76.500000  0.707107  76.0  76.25  76.5  76.75  77.0
RB   0            9.0  70.777778  1.563472  69.0  70.00  71.0  71.00  74.0
     1           19.0  70.368421  1.706541  68.0  69.00  70.0  72.00  73.0
SAF  0            6.0  72.500000  1.974842  71.0  71.00  72.0  73.00  76.0
     1           11.0  72.090909  1.445998  70.0  71.00  72.0  72.50  75.0
TE   0            6.0  76.833333  0.752773  76.0  76.25  77.0  77.00  78.0
     1           11.0  76.818182  0.981650  75.0  77.00  77.0  77.00  78.0
WR   0           17.0  73.352941  2.059769  70.0  71.00  73.0  75.00  77.0
     1           26.0  72.692308  2.379399  68.0  71.00  73.0  74.00  77.0

In [26]:
for index,row in prospects_2025_df.iterrows():
    if "SAF" in row["Pos"]:
        prospects_2025_df.loc[index,"Pos"] = "S"

In [27]:
prospects_2025_df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,BJ Adams,CB,Central Florida,74,182,4.53,32.5,NaN,117.0,NaN,NaN,0,2025
1,Tommy Akingbesote,DT,Maryland,76,306,5.09,28.0,NaN,103.0,NaN,NaN,1,2025
2,Darius Alexander,DT,Toledo,76,305,4.95,31.5,28.0,111.0,7.60,4.79,1,2025
3,Zy Alexander,CB,LSU,73,187,4.56,31.5,NaN,116.0,NaN,NaN,0,2025
4,LeQuint Allen,RB,Syracuse,72,204,NaN,35.0,NaN,120.0,NaN,NaN,1,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,Hunter Wohler,S,Wisconsin,74,213,4.57,37.0,NaN,120.0,6.72,4.25,1,2025
331,Ernest Woodard,LB,UNLV,74,234,NaN,NaN,21.0,NaN,NaN,NaN,0,2025
332,Craig Woodson,S,California,72,200,4.45,36.0,13.0,127.0,NaN,NaN,1,2025
333,Marcus Yarns,RB,Delaware,71,193,4.45,37.5,NaN,122.0,NaN,NaN,0,2025
334,Grey Zabel,OT,North Dakota St.,78,312,NaN,36.5,NaN,111.0,NaN,NaN,0,2025

In [41]:
prospects_2025_df.to_csv("prospects2025.csv")

# Complete 2025 Prospects

In [28]:
#Testing Data
prospects_df = pd.read_csv("CSVfiles/Prospects2025.csv")
Name = prospects_df["Player"]
Positon = prospects_df["Pos"]
#df = df.drop(["year","name","college","position"],1)
prospects_df = prospects_df.drop(["Year","Player","School","Pos", "Unnamed: 0", "isDrafted"],axis="columns")
prospects_df.head()

   Ht   Wt  40yd  Vertical  Bench  Broad Jump  3Cone  Shuttle
0  74  182  4.53      32.5    NaN       117.0    NaN      NaN
1  76  306  5.09      28.0    NaN       103.0    NaN      NaN
2  76  305  4.95      31.5   28.0       111.0    7.6     4.79
3  73  187  4.56      31.5    NaN       116.0    NaN      NaN
4  72  204   NaN      35.0    NaN       120.0    NaN      NaN

In [29]:
# make predictions for test data
y_pred = model.predict(prospects_df)
predictions = [round(value) for value in y_pred]

In [31]:
predictors = pd.DataFrame({"Name":Name,"Position":Positon,"Predictions":predictions,"2025 Actual":"","isCorrect":""})
predictors

                  Name Position  Predictions 2025 Actual isCorrect
0             BJ Adams       CB            1
1    Tommy Akingbesote       DT            1
2     Darius Alexander       DT            1
3         Zy Alexander       CB            1
4        LeQuint Allen       RB            1
..                 ...      ...          ...         ...       ...
242      Hunter Wohler        S            1
243     Ernest Woodard       LB            1
244      Craig Woodson        S            1
245       Marcus Yarns       RB            1
246         Grey Zabel       OT            1

[247 rows x 5 columns]

In [46]:
predictors.to_csv("2025 prediction.csv")

# Watch the draft and see the results!