In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("drafted_2000_to_2024_final1.csv")
df.head()

,Unnamed: 0,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000

In [4]:
df.columns

Index(['Unnamed: 0', 'Player', 'Pos', 'School', 'Ht', 'Wt', '40yd', 'Vertical',
       'Bench', 'Broad Jump', '3Cone', 'Shuttle', 'isDrafted', 'Year'],
      dtype='object')

In [5]:
df = df.drop(["Unnamed: 0"],axis='columns')
df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7944,Payton Wilson,LB,North Carolina State,76,233,4.43,34.5,NaN,119.0,NaN,NaN,1,2024
7945,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12.0,NaN,NaN,NaN,1,2024
7946,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25.0,109.0,NaN,NaN,1,2024
7947,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131.0,NaN,NaN,1,2024
7948,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134.0,NaN,NaN,1,2024

In [6]:
df.describe()

,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
count,7949.000000,7949.000000,7621.000000,6379.000000,5255.000000,6299.000000,4940.000000,5075.000000,7949.000000,7949.000000
mean,73.805636,242.990942,4.772634,32.966421,20.722169,114.882045,7.285466,4.401892,0.646496,2011.832306
std,2.652180,45.483713,0.305115,4.221966,6.344542,9.379929,0.416873,0.266948,0.478087,7.091017
min,65.000000,149.000000,4.210000,17.500000,2.000000,74.000000,6.280000,3.730000,0.000000,2000.000000
25%,72.000000,205.000000,4.530000,30.000000,16.000000,109.000000,6.980000,4.200000,0.000000,2006.000000
50%,74.000000,233.000000,4.690000,33.000000,21.000000,116.000000,7.190000,4.360000,1.000000,2012.000000
75%,76.000000,281.000000,4.970000,36.000000,25.000000,121.000000,7.540000,4.560000,1.000000,2018.000000
max,82.000000,384.000000,6.050000,46.500000,49.000000,147.000000,9.120000,5.560000,1.000000,2024.000000

In [7]:
df_numeric = df.select_dtypes(include='number')
corr_matrix = df_numeric.corr()

In [8]:
corr_matrix.style.background_gradient(cmap='coolwarm')

In [9]:
df

,Player,Pos,School,Ht,Wt,40yd,Vertical,Bench,Broad Jump,3Cone,Shuttle,isDrafted,Year
0,John Abraham,OLB,South Carolina,76,252,4.55,NaN,NaN,NaN,NaN,NaN,1,2000
1,Shaun Alexander,RB,Alabama,72,218,4.58,NaN,NaN,NaN,NaN,NaN,1,2000
2,Darnell Alford,OT,Boston Col.,76,334,5.56,25.0,23.0,94.0,8.48,4.98,1,2000
3,Kyle Allamon,TE,Texas Tech,74,253,4.97,29.0,NaN,104.0,7.29,4.49,0,2000
4,Rashard Anderson,CB,Jackson State,74,206,4.55,34.0,NaN,123.0,7.18,4.15,1,2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7944,Payton Wilson,LB,North Carolina State,76,233,4.43,34.5,NaN,119.0,NaN,NaN,1,2024
7945,Roman Wilson,WR,Michigan,71,185,4.39,NaN,12.0,NaN,NaN,NaN,1,2024
7946,Mekhi Wingo,DT,LSU,72,284,4.85,31.5,25.0,109.0,NaN,NaN,1,2024
7947,Xavier Worthy,WR,Texas,71,165,4.21,41.0,NaN,131.0,NaN,NaN,1,2024
7948,Jaylen Wright,RB,Tennessee,71,210,4.38,38.0,NaN,134.0,NaN,NaN,1,2024

In [10]:
df.groupby(["Pos", "isDrafted"])["Player"].describe()

               count unique                    top freq
Pos  isDrafted
C    0            78     78       John Saint Clair    1
     1           123    123           Brad Meester    1
CB   0           229    227          Chris Hawkins    2
     1           583    580             Ryan Smith    2
DB   0            39     39          Quenton Meeks    1
     1            40     40     Minkah Fitzpatrick    1
DE   0           145    145          Lamont Bryant    1
     1           381    381        Michael Boireau    1
DL   0            32     32  Nile Lawrence-Stample    1
     1            78     78             Zach Allen    1
DT   0           145    145           Carl Bradley    1
     1           383    381            Chris Jones    2
EDGE 0            40     40            Ola Adeniyi    1
     1            75     75           Kemoko Turay    1
FB   0            52     52       D'Andre Hardeman    1
     1            67     67              Deon Dyer    1
G    0            12     12        Gottlieb Ayedze    1
     1            10     10           Isaiah Adams    1
ILB  0            94     94              Matt Beck    1
     1           180    180            Marcus Bell    1
K    0            42     42             Tim Duncan    1
     1            21     21          Jeff Chandler    1
LB   0            72     72        Azeez Al-Shaair    1
     1           105    105       Tremaine Edmunds    1
LS   0            25     25           Jeff Mullins    1
     1             6      6          Tyler Schmitt    1
OG   0           168    168       Terrance Beadles    1
     1           248    248            Brad Bedell    1
OL   0            53     53            Zack Bailey    1
     1            73     73           Cole Madison    1
OLB  0           111    111           Corey Atkins    1
     1           317    317           John Abraham    1
OT   0           151    151          Kurth Connell    1
     1           407    407         Darnell Alford    1
P    0            75     74           Michael Turk    2
     1            33     33          Travis Dorsch    1
QB   0           168    168           Travis Brown    1
     1           245    245              Tom Brady    1
RB   0           295    295            Keith Brown    1
     1           415    414        Adrian Peterson    2
S    0           192    192           Pedro Cirino    1
     1           380    379         Phillip Thomas    2
TE   0           152    152           Kyle Allamon    1
     1           289    289          Anthony Becht    1
WR   0           440    439            Corey Brown    2
     1           680    676          Mike Williams    3

In [11]:
df = df.drop_duplicates()

In [12]:
len(df)

7949